<!-- Body main wrapper start -->
<div class="body-wrapper" id="top">

      <div class="property-header container">
        <div class="property-info">
          <h2>
            Luxury 3 Bedroom Maisonette with BQ
            <span class="badge">Featured</span>
          </h2>
          <p><i class="flaticon-pin"></i>Ikoyi, Lagos.</p>
        </div>
        <div class="property-actions">
          <button><i class="fas fa-share-alt"></i></button>
          <span class="price">₦900,000,000</span>
        </div>
      </div>

 <!-- IMAGE SLIDER AREA START -->
<div class="ltn__img-slider-area mb-90" *ngIf="property?.images?.length">
  <div class="container-fluid">
    <div class="row ltn__image-slider-5-active slick-arrow-1 slick-arrow-1-inner ltn__no-gutter-all">
      <div class="col-lg-12" *ngFor="let img of property?.images">
        <div class="ltn__img-slide-item-4">
          <a [href]="img" data-rel="lightcase:myCollection">
            <img [src]="img" alt="Property Image" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- IMAGE SLIDER AREA END -->


      <!-- Only show content if property is found -->
    <!-- SHOP DETAILS AREA START -->
    <div class="ltn__shop-details-area pb-10">
        <div class="container">
            <div class="row">
             <!-- CONTACT DETAILS -->
              <div class="contact-container" *ngIf="property?.contact">
                <p class="title">Interested In This Property?</p>
                <div class="contact-options">
                  <div class="contact-item">
                    <div class="icon phone"></div>
                    <!-- <span class="number">{{ property?.contact?.phone }}</span> -->
                    <button class="btn-outline" (click)="callAgent()">CALL REALTOR</button>
                  </div>
                  <div class="contact-item">
                    <div class="icon whatsapp"></div>
                    <!-- <span class="number">{{ property?.contact?.whatsapp }}</span> -->
                    <button class="btn-outline" (click)="chatWhatsApp()">CHAT REALTOR</button>
                  </div>
                  <!--
                  <div class="contact-item">
                    <div class="icon email"></div>
                    <button class="btn-outline" (click)="requestCallback()">MAIL</button>
                  </div>
                  -->
                </div>
              </div>
              <!-- CONTACT DETAILS -->


              <div class="tab-container responsive-tabs">
                <!-- Detail and Realtor Tab Buttons -->
                  <div class="tab-buttons">
                    <button class="tab-btn active" data-tab="detailsTab">Details</button>
                    <button class="tab-btn" data-tab="realtorTab">Realtor</button>
                  </div>
                <!-- Detail and Realtor Tab Buttons -->


                <div id="detailsTab" class="tab-content active">
                  <div class="col-lg-8 col-md-12">
                      <div class="ltn__shop-details-inner ltn__page-details-inner mb-60">
                        <div *ngIf="property">
                        <h4 class="title-2">Description</h4>
                        <p *ngFor="let desc of property.descriptions">{{ desc }}</p>

                        <h4 class="title-2">Property Detail</h4>
                        <div class="property-detail-info-list section-bg-1 clearfix mb-60">
                          <ul>
                            <li><label>Property ID:</label> <span>{{ property.id }}</span></li>
                            <li><label>Price:</label> <span>{{ property.price }}</span></li>
                            <li><label>Rooms:</label> <span>{{ property.rooms }}</span></li>
                            <li><label>Baths:</label> <span>{{ property.baths }}</span></li>
                          </ul>
                          <ul>
                            <li><label>Home Area:</label> <span>{{ property.area }}</span></li>
                            <li><label>Beds:</label> <span>{{ property.beds }}</span></li>
                            <li><label>Year Built:</label> <span>{{ property.yearBuilt }}</span></li>
                            <li><label>Property Status:</label> <span>{{ property.status }}</span></li>
                          </ul>
                        </div>

                        <h4 class="title-2">Facts and Features</h4>
                        <div class="property-detail-feature-list clearfix mb-45">
                          <ul>
                            <li *ngFor="let feature of property.features">
                              <div class="property-detail-feature-list-item">
                                <i [class]="feature.icon"></i>
                                <div>
                                  <h6>{{ feature.title }}</h6>
                                  <small>{{ feature.size }}</small>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>

                        <h4 class="title-2 mb-10">Amenities</h4>
                        <div class="property-details-amenities mb-60" *ngIf="property?.amenities?.length">
                          <div class="row">
                            <div class="col-lg-4 col-md-6" *ngFor="let column of [0,1,2]">
                              <div class="ltn__menu-widget">
                                <ul>
                                  <li *ngFor="let amenity of property.amenities.slice(column * 5, (column + 1) * 5)">
                                    <label class="checkbox-item">{{ amenity }}
                                      <input type="checkbox" checked="checked">
                                      <span class="checkmark"></span>
                                    </label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>


                        <h4 class="title-2" *ngIf="property?.video">Property Video</h4>
                        <div
                          class="ltn__video-bg-img ltn__video-popup-height-500 bg-overlay-black-50 bg-image mb-60"
                          *ngIf="property?.video"
                          [ngStyle]="{ 'background-image': 'url(' + property.video.thumbnail + ')' }"
                        >
                          <a
                            class="ltn__video-icon-2 ltn__video-icon-2-border---"
                            [href]="property.video.url"
                            data-rel="lightcase:myCollection"
                          >
                            <i class="fa fa-play"></i>
                          </a>
                        </div>



                        </div>
                      </div>
                    </div>
                </div>


                <div id="realtorTab" class="tab-content">
                <div class="col-lg-4" *ngIf="property">
                          <aside class="sidebar ltn__shop-sidebar ltn__right-sidebar---">

                            <!-- Author Widget -->
                            <div class="widget ltn__author-widget" *ngIf="property.author">
                              <div class="ltn__author-widget-inner text-center">
                                <img [src]="property.author.image" alt="Image">
                                <h5>{{ property.author.name }}</h5>
                                <small>{{ property.author.title }}</small>
                                <div class="product-ratting">
                                  <ul>
                                    <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                                      <li>
                                        <i [class]="
                                          property.author.rating >= star ? 'fas fa-star' :
                                          property.author.rating >= star - 0.5 ? 'fas fa-star-half-alt' : 'far fa-star'
                                        "></i>
                                      </li>
                                    </ng-container>
                                    <li class="review-total"><a href="#"> ({{ property.author.reviewCount }} Reviews)</a></li>
                                  </ul>
                                </div>
                                <p>{{ property.author.bio }}</p>
                                <div class="ltn__social-media">
                                  <ul>
                                    <li *ngIf="property.author.social.facebook"><a [href]="property.author.social.facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li *ngIf="property.author.social.twitter"><a [href]="property.author.social.twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li *ngIf="property.author.social.linkedin"><a [href]="property.author.social.linkedin"><i class="fab fa-linkedin"></i></a></li>
                                    <li *ngIf="property.author.social.youtube"><a [href]="property.author.social.youtube"><i class="fab fa-youtube"></i></a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <!-- Contact Form Widget -->
                            <div class="widget ltn__form-widget">
                              <h4 class="ltn__widget-title ltn__widget-title-border-2">Drop Message For Book</h4>
                              <form>
                                <input type="text" name="yourname" placeholder="Your Name*">
                                <input type="email" name="youremail" placeholder="Your e-Mail*">
                                <textarea name="yourmessage" placeholder="Write Message..."></textarea>
                                <button type="submit" class="btn theme-btn-1">Send Message</button>
                              </form>
                            </div>

                            <!-- Top Rated Product Widget -->
                            <div class="widget ltn__top-rated-product-widget" *ngIf="property.topRatedProducts?.length">
                              <h4 class="ltn__widget-title ltn__widget-title-border-2">Top Rated Product</h4>
                              <ul>
                                <li *ngFor="let product of property.topRatedProducts">
                                  <div class="top-rated-product-item clearfix">
                                    <div class="top-rated-product-img">
                                      <a [href]="product.url"><img [src]="product.image" alt="#"></a>
                                    </div>
                                    <div class="top-rated-product-info">
                                      <div class="product-ratting">
                                        <ul>
                                          <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                                            <li>
                                              <i [class]="
                                                product.rating >= star ? 'fas fa-star' :
                                                product.rating >= star - 0.5 ? 'fas fa-star-half-alt' : 'far fa-star'
                                              "></i>
                                            </li>
                                          </ng-container>
                                        </ul>
                                      </div>
                                      <h6><a [href]="product.url">{{ product.name }}</a></h6>
                                      <div class="product-price">
                                        <span>{{ product.price }}</span>
                                        <del *ngIf="product.oldPrice">{{ product.oldPrice }}</del>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>

                            <!-- Social Media Widget -->
                            <div class="widget ltn__social-media-widget">
                              <h4 class="ltn__widget-title ltn__widget-title-border-2">Follow us</h4>
                              <div class="ltn__social-media-2">
                                <ul>
                                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                              </div>
                            </div>

                          </aside>
                </div>
                </div>
              </div>



              <!-- Destop view -->
                <div class="col-lg-8 col-md-12 normal-tabs">
                    <div class="ltn__shop-details-inner ltn__page-details-inner mb-60">
                      <div *ngIf="property">
                        <h4 class="title-2">Description</h4>
                        <p *ngFor="let desc of property.descriptions">{{ desc }}</p>

                        <h4 class="title-2">Property Detail</h4>
                        <div class="property-detail-info-list section-bg-1 clearfix mb-60">
                          <ul>
                            <li><label>Property ID:</label> <span>{{ property.id }}</span></li>
                            <li><label>Price:</label> <span>{{ property.price }}</span></li>
                            <li><label>Rooms:</label> <span>{{ property.rooms }}</span></li>
                            <li><label>Baths:</label> <span>{{ property.baths }}</span></li>
                          </ul>
                          <ul>
                            <li><label>Home Area:</label> <span>{{ property.area }}</span></li>
                            <li><label>Beds:</label> <span>{{ property.beds }}</span></li>
                            <li><label>Year Built:</label> <span>{{ property.yearBuilt }}</span></li>
                            <li><label>Property Status:</label> <span>{{ property.status }}</span></li>
                          </ul>
                        </div>

                        <h4 class="title-2">Facts and Features</h4>
                        <div class="property-detail-feature-list clearfix mb-45">
                          <ul>
                            <li *ngFor="let feature of property.features">
                              <div class="property-detail-feature-list-item">
                                <i [class]="feature.icon"></i>
                                <div>
                                  <h6>{{ feature.title }}</h6>
                                  <small>{{ feature.size }}</small>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>

                        <h4 class="title-2 mb-10">Amenities</h4>
                        <div class="property-details-amenities mb-60" *ngIf="property?.amenities?.length">
                          <div class="row">
                            <div class="col-lg-4 col-md-6" *ngFor="let column of [0,1,2]">
                              <div class="ltn__menu-widget">
                                <ul>
                                  <li *ngFor="let amenity of property.amenities.slice(column * 5, (column + 1) * 5)">
                                    <label class="checkbox-item">{{ amenity }}
                                      <input type="checkbox" checked="checked">
                                      <span class="checkmark"></span>
                                    </label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>


                        <h4 class="title-2" *ngIf="property?.video">Property Video</h4>
                        <div
                          class="ltn__video-bg-img ltn__video-popup-height-500 bg-overlay-black-50 bg-image mb-60"
                          *ngIf="property?.video"
                          [ngStyle]="{ 'background-image': 'url(' + property.video.thumbnail + ')' }"
                        >
                          <a
                            class="ltn__video-icon-2 ltn__video-icon-2-border---"
                            [href]="property.video.url"
                            data-rel="lightcase:myCollection"
                          >
                            <i class="fa fa-play"></i>
                          </a>
                        </div>



                      </div>
                    </div>
                </div>
               <div class="col-lg-4 normal-tabs" *ngIf="property">
                  <aside class="sidebar ltn__shop-sidebar ltn__right-sidebar---">

                    <!-- Author Widget -->
                    <div class="widget ltn__author-widget" *ngIf="property.author">
                      <div class="ltn__author-widget-inner text-center">
                        <img [src]="property.author.image" alt="Image">
                        <h5>{{ property.author.name }}</h5>
                        <small>{{ property.author.title }}</small>
                        <div class="product-ratting">
                          <ul>
                            <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                              <li>
                                <i [class]="
                                  property.author.rating >= star ? 'fas fa-star' :
                                  property.author.rating >= star - 0.5 ? 'fas fa-star-half-alt' : 'far fa-star'
                                "></i>
                              </li>
                            </ng-container>
                            <li class="review-total"><a href="#"> ({{ property.author.reviewCount }} Reviews)</a></li>
                          </ul>
                        </div>
                        <p>{{ property.author.bio }}</p>
                        <div class="ltn__social-media">
                          <ul>
                            <li *ngIf="property.author.social.facebook"><a [href]="property.author.social.facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li *ngIf="property.author.social.twitter"><a [href]="property.author.social.twitter"><i class="fab fa-twitter"></i></a></li>
                            <li *ngIf="property.author.social.linkedin"><a [href]="property.author.social.linkedin"><i class="fab fa-linkedin"></i></a></li>
                            <li *ngIf="property.author.social.youtube"><a [href]="property.author.social.youtube"><i class="fab fa-youtube"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <!-- Contact Form Widget -->
                    <div class="widget ltn__form-widget">
                      <h4 class="ltn__widget-title ltn__widget-title-border-2">Drop Message For Book</h4>
                      <form>
                        <input type="text" name="yourname" placeholder="Your Name*">
                        <input type="email" name="youremail" placeholder="Your e-Mail*">
                        <textarea name="yourmessage" placeholder="Write Message..."></textarea>
                        <button type="submit" class="btn theme-btn-1">Send Message</button>
                      </form>
                    </div>

                    <!-- Top Rated Property Widget -->
                    <div class="widget ltn__top-rated-product-widget" *ngIf="property.topRatedProducts?.length">
                      <h4 class="ltn__widget-title ltn__widget-title-border-2">Top Rated Property</h4>
                      <ul>
                        <li *ngFor="let product of property.topRatedProducts">
                          <div class="top-rated-product-item clearfix">
                            <div class="top-rated-product-img">
                              <a [href]="product.url"><img [src]="product.image" alt="#"></a>
                            </div>
                            <div class="top-rated-product-info">
                              <div class="product-ratting">
                                <ul>
                                  <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                                    <li>
                                      <i [class]="
                                        product.rating >= star ? 'fas fa-star' :
                                        product.rating >= star - 0.5 ? 'fas fa-star-half-alt' : 'far fa-star'
                                      "></i>
                                    </li>
                                  </ng-container>
                                </ul>
                              </div>
                              <h6><a [href]="product.url">{{ product.name }}</a></h6>
                              <div class="product-price">
                                <span>{{ product.price }}</span>
                                <del *ngIf="product.oldPrice">{{ product.oldPrice }}</del>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <!-- Social Media Widget -->
                    <div class="widget ltn__social-media-widget">
                      <h4 class="ltn__widget-title ltn__widget-title-border-2">Follow us</h4>
                      <div class="ltn__social-media-2">
                        <ul>
                          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>

                  </aside>
               </div>
              <!-- Destop view ends -->

                <h4 class="title-2"  *ngIf="property">Related Properties</h4>
                        <app-related-listing  *ngIf="property"></app-related-listing>
            </div>
        </div>
    </div>
    <!-- SHOP DETAILS AREA END -->

    <!-- If not found -->
    <div *ngIf="!property">
        <!-- 404 area start -->
        <div class="ltn__404-area ltn__404-area-1 mb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="error-404-inner text-center">
                            <div class="error-img mb-30">
                                <img src="../../../assets/img/others/error-1.png" alt="#">
                            </div>
                            <h1 class="error-404-title d-none">404</h1>
                            <h2>Page Not Found!</h2>
                            <!-- <h3>Oops! Looks like something going rong</h3> -->
                            <p>Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
                            <div class="btn-wrapper">
                                <a href="" class="btn btn-transparent"><i class="fas fa-long-arrow-alt-left"></i> BACK TO HOME</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 404 area end -->
    </div>


    <!-- CALL TO ACTION START (call-to-action-6) -->
    <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="img/1.jpg--">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                        <div class="coll-to-info text-color-white">
                            <h1>Looking for a dream home?</h1>
                            <p>We can help you realize your dream of a new home</p>
                        </div>
                        <div class="btn-wrapper">
                            <a class="btn btn-effect-3 btn-white" href="contact.html">Explore Properties <i class="icon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALL TO ACTION END -->


</div>
<!-- Body main wrapper end -->
