

<!-- Body main wrapper start -->
<div class="body-wrapper">

  <div class="ltn__utilize-overlay"></div>

  <!-- SLIDER AREA START (slider-4) -->
    <div class="ltn__slider-area ltn__slider-4 slider1-section">
        <div class="ltn__slide-one-active bg-overlay-theme-black-60">
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-4 bg-image">
                <div class="ltn__slide-item-inner text-left">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-car-dealer-form">
                                    <div class="ltn__car-dealer-form-tab container">
                                      <div class="container">
                                         <h1 class="carousel-headline">
                                          Discover <span class="carosel-highlight">Lagos</span> Finest Properties
                                        </h1>
                                      <div class="search-container">
                                        <div class="tabs">
                                          <div
                                            class="tab"
                                            *ngFor="let tab of tabs"
                                            [class.active]="activeTab === tab"
                                            (click)="setActiveTab(tab)"
                                          >
                                            {{ tab }}
                                          </div>
                                        </div>

                                        <div class="search-fields">
                                          <input type="text" placeholder="Enter Location" class="search-input search-location" />
                                          <input type="text" placeholder="Type" class="search-input" />
                                          <input type="text" placeholder="Bed" class="search-input" />
                                          <input type="text" placeholder="Min price" class="search-input" />
                                          <button class="search-button">Search</button>
                                        </div>
                                      </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SLIDER AREA END -->

<!-- FEATURED LISTING STARTS-->
<app-featured></app-featured>
<!-- FEATURED LISTING STOPS-->

<!-- Top-listings start-->
<app-top-listings></app-top-listings>
<!-- Top-listings end-->


<!-- Browse properties CTA start -->
  <app-browse-properties-cta></app-browse-properties-cta>
<!-- Browse properties CTA end -->


<!-- List with us CTA -->

  <div class="section-container">
    <div class="container">
    <div class="content">
      <h2>Do you own a property?</h2>
      <h3>Join our partner landlord<br />today.</h3>
      <p>We market - You profit. Let us showcase your properties to the right audience.</p>
      <div class="btn-wrapper">
                            <a class="btn btn-effect-3 btn-white" href="contact.html">List With Us  <i class="icon-next"></i></a>
                        </div>
    </div>
   </div>
</div>
<!-- List with us CTA ends -->


<!-- SEARCH BY PLACE AREA START -->

 <div class="container">
  <h1 class="headline">
    Start Living in <span class="highlight">Lagos</span> Finest Locations
  </h1>
<div class="locations-container">
  <div class="location-card" *ngFor="let location of locations">
    <div class="location-image-wrapper">
      <img [src]="location.image" alt="{{ location.name }}" />
    </div>
    <div class="text-content">
      <h3>{{ location.name }}</h3>
      <p>{{ location.properties }} Properties</p>
    </div>
  </div>
</div>
</div>
<!-- SEARCH BY PLACE AREA ENDS -->


    <!-- BRAND LOGO AREA START -->
    <div class="ltn__brand-logo-area ltn__brand-logo-1 section-bg-1 pt-110 pb-110 plr--9 d-none---">
        <div class="container-fluid">
            <div class="row ltn__brand-logo-active">
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="../../../assets/img/brand-logo/1.png" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="../../../assets/img/brand-logo/2.png" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="../../../assets/img/brand-logo/3.png" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="../../../assets/img/brand-logo/4.png" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="../../../assets/img/brand-logo/5.png" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="../../../assets/img/brand-logo/3.png" alt="Brand Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BRAND LOGO AREA END -->

    <section class="explore-property">
  <h2 class="section-title">Explore Private Property</h2>
  <div class="options">
    <div class="option">
      <h3>Buy property</h3>
      <img src="assets/buy-property-icon.png" alt="Buy Property" />
      <p>
        If you're looking for your ideal home, PrivateProperty is the best place to find the latest resale properties with our user-friendly database of properties for sale such as
        <span class="link">Flats Resale, Executive Duplexes, Duplexes and Houses for Sale</span>. If you are looking for freehold properties, browse our
        <span class="link">Freehold Properties for Sale</span> for all your needs!
      </p>
    </div>
    <div class="option">
      <h3>Property rentals</h3>
      <img src="assets/property-rentals-icon.png" alt="Property Rentals" />
      <p>
        Dive into the latest rental properties with our comprehensive rental properties library where you can find the latest
        <span class="link">Flats for Rent, Executive Duplexes for Rent, Houses for Rent, Duplexes for Rent</span>. If you’re looking for a room for rent instead, take a look at our
        <span class="link">Room Rental page</span> for the latest rooms for rent.
      </p>
    </div>
    <div class="option">
      <h3>New Launch Duplexes</h3>
      <img src="assets/new-launch-icon.png" alt="New Launch" />
      <p>
        In our <span class="link">New Launch Duplexes</span> section, you can find the latest
        <span class="link">New Launch Duplexes for sale</span>, along with the hottest property news on upcoming projects and all you need to know about new duplex launches in Nigeria.
      </p>
    </div>
    <div class="option">
      <h3>Explore Nigeria</h3>
      <img src="assets/explore-nigeria-icon.png" alt="Explore Nigeria" />
      <p>
        Still undecided about where you want to live? Browse through our dedicated directories such as our
        <span class="link">Neighbourhood Directory, MRT Directory</span>, duplex Directory,
        <span class="link">Flats Directory and Mini Flats Directory</span> get all the latest news and information that you need to inform your home buying process.
      </p>
    </div>
  </div>
</section>


  <!-- ABOUT US AREA START -->
  <!-- <div class="ltn__about-us-area pt-115 pb-100 ">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 align-self-center">
                  <div class="about-us-img-wrap about-img-left">
                      <img src="../assets/img/others/11.png" alt="About Us Image">
                      <div class="about-us-img-info about-us-img-info-2 about-us-img-info-3 d-none">

                          <div class="ltn__video-img ltn__animation-pulse1">
                              <img src="../assets/img/others/8.png" alt="video popup bg image">
                              <a class="ltn__video-icon-2 ltn__video-icon-2-border---" href="https://www.youtube.com/embed/X7R-q9rsrtU?autoplay=1&amp;showinfo=0"  data-rel="lightcase:myCollection">
                                  <i class="fa fa-play"></i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 align-self-center">
                  <div class="about-us-info-wrap">
                      <div class="section-title-area ltn__section-title-2--- mb-30">
                          <h6 class="section-subtitle section-subtitle-2--- ltn__secondary-color">About Us</h6>
                          <h1 class="section-title">Dream Living Spaces
                              Setting New Build</h1>
                          <p>Experience the pinnacle of modern living with our Dream Living Spaces, expertly crafted to redefine comfort, style, and innovation in every new build</p>
                      </div>
                      <div class="ltn__feature-item ltn__feature-item-3">
                          <div class="ltn__feature-icon">
                              <span><i class="flaticon-house-4"></i></span>
                          </div>
                          <div class="ltn__feature-info">
                              <h4><a href="service-details.html">The Perfect Residency</a></h4>
                              <p>We offer luxurious, modern living spaces designed for comfort, convenience, and an exceptional lifestyle in prime locations.</p>
                          </div>
                      </div>
                      <div class="ltn__feature-item ltn__feature-item-3">
                          <div class="ltn__feature-icon">
                              <span><i class="flaticon-call-center-agent"></i></span>
                          </div>
                          <div class="ltn__feature-info">
                              <h4><a href="service-details.html">Global Architect Experts</a></h4>
                              <p>A professional service that collaborates with architects, dedicating time and resources to help them achieve measurable results.</p>
                          </div>
                      </div>
                      <div class="ltn__feature-item ltn__feature-item-3">
                          <div class="ltn__feature-icon">
                              <span><i class="flaticon-maps-and-location"></i></span>
                          </div>
                          <div class="ltn__feature-info">
                              <h4><a href="service-details.html">Strategic Locations</a></h4>
                              <p>Discover prime properties in strategic locations, carefully selected to offer convenience, high value, and long-term investment potential.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <!-- ABOUT US AREA END -->





  <!-- TESTIMONIAL AREA START (testimonial-8) -->
  <!-- <div class="ltn__testimonial-area section-bg-1--- bg-image-top pt-115 pb-65" data-bs-bg="../assets/img/bg/23.jpg">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-title-area ltn__section-title-2--- text-center---">
                      <h6 class="section-subtitle section-subtitle-2--- ltn__secondary-color--- white-color">Client,s Testimonial</h6>
                      <h1 class="section-title white-color">See What,s Our Client <br>
                          Says About Us</h1>
                  </div>
              </div>
          </div>
          <div class="row ltn__testimonial-slider-6-active slick-arrow-3">
              <div class="col-lg-4">
                  <div class="ltn__testimonial-item ltn__testimonial-item-7 ltn__testimonial-item-8">
                      <div class="ltn__testimoni-info">
                          <div class="ltn__testimoni-author-ratting">
                              <div class="ltn__testimoni-info-inner">
                                  <div class="ltn__testimoni-img">
                                      <img src="../assets/img/testimonial/1.jpg" alt="#">
                                  </div>
                                  <div class="ltn__testimoni-name-designation">
                                      <h5>Jacob William</h5>
                                      <label>Selling Agents</label>
                                  </div>
                              </div>
                              <div class="ltn__testimoni-rating">
                                  <div class="product-ratting">
                                      <ul>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <p>
                            Fantastic service and very professional! They made buying our home smooth and stress-free.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="ltn__testimonial-item ltn__testimonial-item-7 ltn__testimonial-item-8">
                      <div class="ltn__testimoni-info">
                          <div class="ltn__testimoni-author-ratting">
                              <div class="ltn__testimoni-info-inner">
                                  <div class="ltn__testimoni-img">
                                      <img src="../assets/img/testimonial/2.jpg" alt="#">
                                  </div>
                                  <div class="ltn__testimoni-name-designation">
                                      <h5>Kelian Anderson</h5>
                                      <label>Selling Agents</label>
                                  </div>
                              </div>
                              <div class="ltn__testimoni-rating">
                                  <div class="product-ratting">
                                      <ul>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <p>
                            The team was incredibly helpful with every step, from viewing to closing. Highly recommend!</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="ltn__testimonial-item ltn__testimonial-item-7 ltn__testimonial-item-8">
                      <div class="ltn__testimoni-info">
                          <div class="ltn__testimoni-author-ratting">
                              <div class="ltn__testimoni-info-inner">
                                  <div class="ltn__testimoni-img">
                                      <img src="../assets/img/testimonial/3.jpg" alt="#">
                                  </div>
                                  <div class="ltn__testimoni-name-designation">
                                      <h5>Adam Joseph</h5>
                                      <label>Selling Agents</label>
                                  </div>
                              </div>
                              <div class="ltn__testimoni-rating">
                                  <div class="product-ratting">
                                      <ul>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <p>
                            Great communication and support throughout. Our new place feels like home already!</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="ltn__testimonial-item ltn__testimonial-item-7 ltn__testimonial-item-8">
                      <div class="ltn__testimoni-info">
                          <div class="ltn__testimoni-author-ratting">
                              <div class="ltn__testimoni-info-inner">
                                  <div class="ltn__testimoni-img">
                                      <img src="../assets/img/testimonial/4.jpg" alt="#">
                                  </div>
                                  <div class="ltn__testimoni-name-designation">
                                      <h5>James Carter</h5>
                                      <label>Selling Agents</label>
                                  </div>
                              </div>
                              <div class="ltn__testimoni-rating">
                                  <div class="product-ratting">
                                      <ul>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <p>Excellent property management—quick response and always attentive to our needs.</p>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div> -->
  <!-- TESTIMONIAL AREA END -->


  <!-- CALL TO ACTION START (call-to-action-6) -->
  <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="img/1.jpg--">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                      <div class="coll-to-info text-color-white">
                          <h1>Looking for a dream home?</h1>
                          <p>We help you make the dream of new house a reality</p>
                      </div>
                      <div class="btn-wrapper">
                          <a class="btn btn-effect-3 btn-white" href="contact.html">Explore Properties <i class="icon-next"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- CALL TO ACTION END -->



</div>
<!-- Body main wrapper end -->
