.page-title, .home-btn
{
  color: #f9f9f9;
}
.fa-home{
  color: #ccc;
}

.page-crumb{
  color: #ccc;
  text-decoration-color: #ccc;
}

.search-container {
  background: #f9fbff;
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.search-container .title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.search-container form {
  display: flex;
  flex-direction: column;
}

.search-container input,
.search-container select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  font-size: 14px;
}

.row {
  display: flex;
}


.search-container button {
  margin-top: 0.5rem;
  padding: 10px;
  background-color: #004ca3;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #003680;
}
