.product-img
{
  border-radius: 7px;
}

.items
{
  border-radius: 7px;
}

.type {
  font-weight: bold;
  font-size: 0.85rem;
  color: red;
  list-style: none;
}

.product-list-date
{
  margin-left: 10rem;
}

.product-title
{
  font-size: 20px;
  padding: 0;
}

.mini-writeup{
  font-size: 12px;
  margin: 0;
  padding: 0;
}
