<!-- luxury-listings-->
 <div class="container">
  <section class="luxury-listings carousel-container">
    <h2 class="title">Featured Listings in Lagos</h2>
    <p class="subtitle">Some of the finest luxury listings in the market, handpicked just for you</p>

 <div class="carousel-controls slick-slide-arrow-1 slick-slide-dots-1">
  <button (click)="prevSlide()" class="left">←</button>
  <button (click)="nextSlide()" class="right">→</button>
</div>
    <div class="listings-grid carousel-wrapper carousel">

      <div class="property-card property-item"
          *ngFor="let property of visibleProperties">
        <div class="image-wrapper">

          <img [src]="property.image" alt="Property image">
          <div class="badges">
            <span class="badge" *ngFor="let badge of property.badges">{{ badge }}</span>
          </div>
          <div class="price">{{ property.price }}</div>
          <div class="icons">
            <button class="icon"><i class="fa fa-heart"></i></button>
            <button class="icon"><i class="fa fa-retweet"></i></button>
          </div>
        </div>
        <div class="property-details">
          <span class="type" [class.red-text]="property.type === 'Terraced'">{{ property.type }}</span>
          <h3>{{ property.title }}</h3>
          <p class="location"><i class="fa fa-map-marker"></i> {{ property.location }}</p>
          <p>Beds: {{ property.beds }} &nbsp; Baths: {{ property.baths }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- luxury-listings-->


